{{define "head"}}
<html>
  <head>
    <title>Gobots</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Gobots</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Bots Online</a></li>
                <li class="pure-menu-item">{{if .Player}}Hello {{.Player.Name}}{{end}}</li>
            </ul>
        </div>
    </div>
{{end}}

{{define "foot"}}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  </body>
</html>
{{end}}
