{{ if .Data.Exists }}
<div class="splash">
  <h1 class="splash-head">Game</h1>
  <div class="gameBoardContainer">
    <div ng-controller="GameController as game" class="gameBoard">
      <div class="row" ng-repeat="row in game.rows track by $index">
        <div class="cell" ng-repeat="cell in row track by $index" ng-class="{gopher: cell !== null && cell.Faction == 1}">
          <img src="/img/gopher.jpg" ng-show="cell !== null"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ else }}
<div class="splash">
  <h1 class="splash-head">Game Not Found</h1>
      <p class="splash-subhead">
        ID {{ .Data.GameID }} doesn't exist
      </p>
  </div>
</div>
{{ end }}


<script>
  // This is probably (hopefully) escaped by Go's templating system
  var GameID = "{{ .Data.GameID }}";
</script>
